EBAY_MARKETPLACE_ID=EBAY_US
EBAY_CLIENT_ID=
EBAY_CLIENT_SECRET=
EBAY_REFRESH_TOKEN=
EBAY_REFRESH_SCOPES=
EBAY_LOCATION_KEY=vebalist-40517
EBAY_LOCATION_POSTAL_CODE=40517
EBAY_LOCATION_COUNTRY=US
VEBALIST_API_KEY=
